<script type="application/ld+json" id="structured_data">
    {
        "@context": "https://schema.org",
        "@type": "Blog",
        "inLanguage": "en",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ domain }}{{ page.get_absolute_url }}"
        },
        "headline": "{{ page.seo_title }}",
        "image": [
            "{{ domain }}/{{ page.image }}"
        ],
        "description": "{{ page.seo_description }}",
        "about": {
            "@type": "Thing",
            "name": "Astrology"
        }
    }
</script>
